/* ---------- Root Variables ---------- */
:root {
  --lightred: #bb1717;
  --darkred: #960404;
  --white: #f1f1f1;
  --black: #000;
  --lightblue: #def2ff;
  --babyblue: #bbe5ff;
  --blue: #035183;
  --darkgrey: #a19f9f;
  --grey: #e4e4e4;
  --light-green: #f1f1f1;
  --border-radius: 30px;
  --display-font: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/* ---------- Global Styling ---------- */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
html {
  background-color: var(--light-green);
  color: var(--text-color-dark);
  font-family: var(--display-font);
  font-weight: 400;
  height: 100%;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

/* ---------- Typography ---------- */
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* ---------- Link Styling ---------- */
a {
  color: var(--green);
  text-decoration: none;
  transition: 0.5s;
}

a:hover {
  color: var(--dark-green);
}

/* ---------- Form Specific Styling ---------- */
form input {
  width: 100%;
}

form .btns {
  grid-column: 2;
}

form img {
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 0px 1px hsla(0, 0%, 0%, 0.2), 0 1px 2px hsla(0, 0%, 0%, 0.2);
}

form {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1em;
  align-items: center;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
  padding: 1.5em;
  background-color: var(--white);
  transition: 0.5s;
  animation: fadeIn 0.5s;
  border-radius: 8px;
}

#sign-in-form,
#sign-up-form {
  width: 35rem;
}

/* ---------- Navigation Styling ---------- */
.navbtns {
  display: grid;
  left: 0;
  position: fixed;
  right: 0;
  text-align: center;
  bottom: 0;
  padding: 1.5em 3em;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1em;
}

.navcircle {
  font-size: 2rem;
  color: var(--white);
  background-color: var(--darkred);
  display: inline-block;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  letter-spacing: 0.1em;
  font-weight: 500;
  font-size: 1.2em;
  border-radius: 50%;
  transition: 0.5s;
  width: 4em;
  height: 4em;
  border: 2px solid var(--darkred);
}

.navbtns a:hover {
  background-color: var(--darkred);
}

.navbtns a .nav-icon {
  font-size: 2em;
  color: var(--white);
}

/* ---------- Nav profile styling ---------- */
.navprofile {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.3rem;
  text-align: left;
}

.profile__image {
  background-color: var(--white);
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
  letter-spacing: 0.1em;
  font-weight: 500;
  font-size: 1.2em;
  border-radius: 50%;
  transition: 0.5s;
  width: 2em;
  height: 2em;
}

.profileinfo {
  margin: 0;
}

.profileinfo a {
  text-decoration: underline;
}

.signout {
  display: flex;
  align-items: center;
  gap: 0.6rem;
}

/* ---------- Overlay Styling ---------- */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay__background {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  cursor: pointer;
  z-index: 9;
}

.overlay__container {
  background-color: var(--darkred);
  color: var(--white);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  width: 80%;
  display: flex;
  flex-direction: column;
  padding: 3em 0 3em;
}

.overlay__controls {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 0 !important;
  margin-top: auto;
}

.overlay__close {
  border: 2px solid var(--white);
}

.overlay__nav {
  display: flex;
  justify-self: right;
  flex-direction: column;
}

.overlay__link {
  display: flex;
  color: var(--white);
  align-items: center;
  gap: 1rem;
  padding: 1.1rem 1rem;
  text-decoration: none;
  color: var(--text-color-dark);
  transition: all 0.3s ease;
  font-size: 1.1rem;
  font-weight: 500;
  width: 100%;
}

.overlay__linkcolorchange {
  background-color: var(--lightred);
}

/* ---------- Page Styling ---------- */
.page {
  animation: fadeIn 0.5s;
  padding: 140px 2em 2em;
}

/* ---------- Container Styling ---------- */
.container {
  max-width: 700px;
  margin: auto;
}

/* ---------- Grid Container Styling ---------- */
.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1em;
}

@media (min-width: 600px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 992px) {
  .grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.grid > .post-card {
  cursor: pointer;
}

/* ---------- Grid Filter Styling ---------- */
.grid-filter {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 1em;
  padding: 1em;
  background-color: var(--white);
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  margin: 0 0 1em;
  align-items: center;
}

.grid-filter select {
  width: 100%;
  padding: 1.1rem;
}

.grid-filter input,
.grid-filter select {
  margin: 1em 0 0;
}

/* ---------- Post Card Styling ---------- */
.post-card {
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
  padding: 1.5em;
  background-color: var(--white);
  transition: 0.5s;
  animation: fadeIn 0.5s;
  cursor: pointer;
  border-radius: 10px;
}

.post-card:hover {
  box-shadow: 0 8px 16px 0 var(--green);
}

.post-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.post-card h2 {
  margin: 0.5em 0 0;
}

.post-card .title {
  margin: 0;
}

/* ---------- Avatar Styling ---------- */
.avatar {
  display: flex;
  align-items: center;
  margin: 0 0 1.2em;
  text-align: left;
}

.avatar span {
  margin: 0 0 0 1em;
}

.post-card .avatar img {
  max-width: 50px;
  max-height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

/* ---------- User Page Styling ---------- */
#user-page .post-card > img {
  height: auto;
}

#user-page .btns {
  padding: 1em 0;
}

/* ---------- Login Form Styling ---------- */
#sign-in-page,
#sign-up-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 85vh;
}

.error-message {
  color: var(--text-color-danger);
  margin-top: 10px;
  grid-column: 2;
}

.hide {
  display: none;
}

.image-preview {
  cursor: pointer;
}

/*------------ Blåboks (HoldBoks + RatingBoks) Styling -------------*/

.blaa-boks {
  display: flex;
  flex-direction: row;
  border-radius: var(--border-radius);
  background-color: var(--light-blue);
  align-items: center;
  justify-content: space-between;
  padding: 3px 20px 3px 10px;
}

.blaa-boks-holdnavn {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.klublogo-container {
  width: 40px;
  height: 40px;
  border: solid 2px var(--green);
  border-radius: var(--circle-radius);
  overflow: hidden;
}

.klublogo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ---------- Animations ---------- */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-30px) scale(0.9);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

/*---------- Kamp Card Styling ----------*/

.kamp-card {
  background-color: var(--lightred);
  border-radius: var(--border-radius);
  color: #fff;
}

.kamp-container {
  display: flex;
  justify-content: space-between;
  padding-right: 1rem;
  padding-left: 1rem;
}

.kamp-hold {
  width: 40%;
  text-align: center;
}

.kamp-hold p {
  margin-top: 0;
}

.kamp-hold img {
  border-radius: var(--border-radius);
}

.kamp-vs {
  width: 20%;
  text-align: center;
  align-self: center;
}

.del-notifikationer {
  display: flex;
  justify-content: center;
  gap: 0.4rem;
  width: 50%;
}

.del-notifikationer img {
  width: 20%;
}

#streg {
  border-top: 2px solid var(--darkred);
}

#streg-midt {
  border-right: 2px solid var(--darkred);
}

/*---------- kampPage Styling ----------*/
.red-background {
  background-color: var(--lightred);
  color: var(--white);
  height: 20rem;
}

.arrow {
  width: 10%;
  margin: 1rem;
}

.kamp-info-section {
  margin-top: -4rem;
  background-color: var(--white);
  border-radius: var(--border-radius);
  padding: 2rem;
}
.kamp-info {
  display: flex;
  gap: 0.5rem;
}

.kamp-info img {
  width: 7%;
}

/* ---------- Button Styling ---------- */
.btn {
  background-color: var(--lightred);
  color: var(--white);
  border-radius: var(--border-radius);
  border: none;
  padding: 1rem;
  font-size: 1rem;
  font-family: var(--display-font);
  display: block;
  margin: auto;
}
